<header class="header">
    <div class="header__message">
        <div class="container">
            <p>Aulas na Praia Mansa de Sexta à Domingo das 06:00 às 14:00</p>
        </div>
    </div>
    <div class="header__menu">
        <div class="header__menuContent container">
            <img src="../../../assets/img/surfbot-logo.svg" alt="Logo">    
            <nav class="header__menuNav">
                <ul>
                    <li>
                        <a href="">Praia</a>
                        <span>&#9675;</span>
                    </li>
                    <li>
                        <a href="">Aulas</a>
                        <span>&#9675;</span>
                    </li>
                    <li>
                        <a href="">Contanto</a>
                        <span>&#9675;</span>
                    </li>
                    <li>
                        <a href="">Matricule-se</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<router-outlet></router-outlet>