<header class="header">
    <div class="header__message">
        <div class="container">
            <p>Aulas na Praia Mansa de Sexta à Domingo das 06:00 às 14:00</p>
        </div>
    </div>
    <div class="header__menu">
        <div class="container">
            <div class="header__menuContent">
                <img src="../../../assets/img/surfbot-logo.svg" alt="Logo">    
                <nav>
                    <ul>
                        <li><a href="">Praia</a></li>
                        <li><a href="">Aulas</a></li>
                        <li><a href="">Contanto</a></li>
                        <li><a href="">Matricule-se</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>


<router-outlet></router-outlet>